/* body {
  margin: 0px;
  padding: 0px;
}

.container {
  background-color: azure;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  
}
.list_navbar {
  display: flex;
  list-style-type: none;
  align-items: center;
 
}
.list_navbar > li {
  padding: 10px;
  margin: 5px;
  overflow: hidden;
  
font-size: large;
}
.list_navbar > li >a{
  text-decoration: none;
  color: black;
  text-overflow: hidden;
}
.logo-image {
  height: 6rem;
}
.card {
  position: relative;
  margin-left:2px;
  padding: 3px;
  margin: 0.1rem;
  border: 1px solid black;
  width: 165px;
  height: 320px;
  border-radius: 8px;
}
.card > ul {
  
  position: absolute;
  bottom: 5px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
.element1 {
  margin-right: 100px;
}
.element2 {
  margin-left: 100px;
}
.restaurantImage {
  height: 100px;
  width: 100%;
  border-radius: 25px;
}
.restaurantList {
  display: flex;
  
  flex-wrap: wrap;
}
.cuisines-items {
  margin: 0px;
  padding: 0px;
  overflow: hidden  ;
  
} */
